@font-face {
  font-family: "U8-Bold";
  src: url("../../Assets/fonts/Fatype_U8/Fatype_U8/U8-Bold.otf")
    format("opentype");
}
.headerpage {
  position: relative;
}
.headerpage .header {
  position: fixed;
  width: 100%;
  height: 90px;

  top: 0;
  left: 0;
  z-index: 20;
  padding: 17.5px 16px;
  font-family: "DM Sans", sans-serif;
  background-color: #fff;
  box-shadow: 0px 1px 10px 0 rgba(0, 0, 0, 0.1);
  /* display: flex; */
  /* justify-content: content; */
  /* align-items: center; */
}

.headerpage .header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1165px;
  margin: 0 auto;
  position: relative;
}
.header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.headerpage .header-logo img {
  margin: 0;
  padding: 0 50px 0 0;
}
.navBtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #fff;
}
.headerpage .header-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 45px;
}

.headerpage .header-link a {
  color: #0c1825;
  font-weight: 500;
  line-height: 27.2px;
  font-size: 16.5px;
}

.headerpage .nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.headerpage .btn {
  font-size: 16.5px;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  padding: 16px 22px;
  border-radius: 12px;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  transition: all 0.8s;
}

.headerpage .btn-signup {
  background: #0c1825;
  color: #fff;
}

.headerpage .btn-signup:hover {
  background: #0d60d8;
}

.headerpage .btn-login {
  color: #0c1825;
  background-color: #fff;
  border: 1px solid #bbb;
}

.headerpage .btn-login:hover {
  color: #0d60d8;
  border: 1px solid #0d60d8;
}

.toogleIcons {
  padding: 5px;
  cursor: pointer;
  color: #0c1825;
  display: none;
}
@media screen and (max-width: 992px) {
  .header {
    position: relative;
    transition: 0.5s all ease-in-out;
  }

  .header .Expanded {
    height: 100vh;
  }
  .header .navBtn {
    position: absolute;
    top: -300px;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 0.5s ease-in-out;
  }
  .header.Expanded .navBtn {
    position: absolute;
    top: 90px;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 1;
  }
  .header .navBtn .header-link {
    flex-direction: column;
  }
  .header .navBtn .nav-link {
    flex-direction: column;
    width: 100%;
  }
  .header .navBtn .nav-link a {
    width: 100%;
  }
  .toogleIcons {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
  }
}
