.forgetPage .login form .formGroup .input {
  padding: 0.75rem 0.5rem 0.75rem 0.75rem;
  font-size: 100%;
}
.forgetPage .footLink {
  margin: 2rem 0;
}
.forgetPage .login form .button {
  background-color: var(--btnbg);
}
.forgetPage .login form .button:hover {
  background-color: var(--primaryColor)
}
.forgetPage .login {
  padding: 2.5rem 2.5rem 3rem 2.5rem !important;
}
@media screen and (max-width: 640px) {
  .forgetPage .login {
    padding: 2rem 2rem 2.5rem 2rem !important;
  }
  .forgetPage .login form .formGroup .input {
    padding: 0.75rem 0.5rem 0.75rem 0.75rem;
    font-size: 100%;
  }
}
